.dropZone {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.dropZone:hover {
  background-color: #eee;
}
.checkH {
    color: white;
}
.checkin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.form-group > label{
    color: white;
}
.form-group{
    width: 60%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}