#root{
    height: 100%;
    margin: 0;   
}
html{
    background-image: url('../images/micro_carbon.png');
}
body{
    margin:0;
}
.seperator{
    padding: 2px;
    border-bottom: 3px solid #413E3E;
}