#container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
#body{
    border: 2px solid #413E3E;
    border-radius: 20px;
    padding-bottom: 20px;
    width: 20%;
}
#body > *:not(.seperator){
    margin-left: 10px;
    margin-right: 10px;
}
.seperator{
    padding: 2px;
    border-bottom: 3px solid #413E3E;
}
#logo{
    margin-left: 20px !important; 
    margin-right: 20px !important;
    text-align: center;
}
h2{
    text-align: center;
}
.form-group{
    display:flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
}
.form-group > button{
    background-color: #780D9C;
    border-radius: 100px;
    border: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
    width: 65%;
    align-self: center;
}
.form-group > input {
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}