.repoImage{
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 44px;
    height: 44px;
    min-width: 30px;
    display: inline-block;
    margin-right: 10px;
}
.avatarImage{
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
}

.repository{
    background-color: #4B5765;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    padding: 20px;
}
.header{
    display: flex;
}
.repoStats{
    margin-left: auto;
}
.repoStats > i {
    transform: translateX(0%) !important;
    margin-right: 10px;
}
.repoStats > span{
    font-size: 1rem;
    color: black;
}
#repoTitle{
    font-size: 1.5rem;
    color: black;
}
.recAct{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}
.actUser{
    font-size: 1.2rem;
    color: black;
    margin-right: 5px;
}
.actTime{
    font-size: 0.8rem;
    color: #C8C8C8;
    font-style: italic;
}
.recTitle{
    color: black;
    font-style: italic;
}
.rec{
    margin-top: 10px;
}
.content{
    width: 90%;
}