.search{
    align-self: center;
    position: relative;
}
input{
    border-radius: 100px;
    height: 50%;
    width:auto;
    padding-right: 40px; 
}
i{
    position: inherit;
    transform: translateX(-150%);
    pointer-events: none;
}
.results{
    border: 2px solid #413E3E;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    left: -25%;
    width: 20rem;
}
.repos{
    max-height: 300px;
    overflow: scroll;
}