#splash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.logo{
    font-family: 'K2D', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
#title{
    font-size: 3rem;
    font-weight: bold;
}
#slogan{
    font-size: 2rem;
    margin-left: 580px;
    transform: translateY(-15px);
    
}

