#top{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#splash {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    font-family: 'K2D', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFFFFF;
}
#title{
    font-size: 3rem;
    font-weight: bold;
}
#slogan{
    font-size: 2rem;
    margin-left: 580px;
    transform: translateY(-15px);
}
#login{
    margin-left: 100px;
    color: #FFFFFF;
}
#signin{
    background-color: #780D9C;
    border-radius: 100px;
    border: 0;
    padding: 5px;
    width: 65%;
    color: #FFFFFF;
}
Link{
    color: #3685D5;
    text-decoration: underline;
}

